<!DOCTYPE html>
<html>
  <head>
    <title>Researchers</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('.static', filename='researchers.css')}}"
    />
  </head>
  <body>
    <h1>Researchers</h1>
    <div class="form">
      <form method="post" action="/research">
        <label for="search">Digite o assunto que você deseja pesquisar:</label>
        <input type="text" name="search_query" id="search" />
	<label for="translate">Deseja traduzir os resultados?</label>
	<input type="checkbox" id="translate" name="translate" value="true"/>
        <input type="submit" value="Enviar" />
      </form>
      <p>Você pode pesquisar termos em português e inglês. Os artigos em sua maioria são escritos em inglês, por isso traduzimos os resultados se você marcar a opção de tradução.</p>
    </div>
    <div class="results">
      {% for result in results %}
      <div class="result">
        <h2>Título: {{ result.article.title }}</h2>
        <p>Resumo: {{ result.article.summary }}</p>
        <p>Citação: {{ result.citation }}</p>
        <p>
          Link:
          <a href="{{result.article.arxiv_id}}" target="_blank"
            >{{ result.article.arxiv_id }}</a
          >
        </p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
